<h1>Pay Rate Changes for: <%=h @worker.name %></h1>

<% if @worker.pay_rate_changes.count > 0 %>

<table border="1">
  <tr>
   <th>Worker</th>
   <th>Eff.Date</th>
   <th>New Rate</th>
  </tr>

<% @pay_rate_changes.each do |pay_rate_change| %>
  <tr>
    <td><%= pay_rate_change.worker.name %></td>
    <td><%= pay_rate_change.effective_date %></td>
    <td align="right"><%= number_to_currency pay_rate_change.new_rate %></td>
    <td><%= link_to 'Show', [@worker,pay_rate_change] %></td>
    <td><%= link_to 'Edit', edit_worker_pay_rate_change_path(@worker,pay_rate_change) %></td>
    <td><%= link_to 'Destroy', [@worker,pay_rate_change], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<% else %>
 <p><%=h @worker.name %> hasn't received pay rate changes.</p>
<% end %>

<p>
<%= link_to 'Raise', new_worker_pay_rate_change_path(@worker) %> |
<%= link_to 'Show '+@worker.name, @worker %>
</p>
