<p>
  <b>Name:</b>
  <%=h @worker.name %>
  <br>
  <b>Has Chores:</b>
  <%=h @worker.has_chores %>
  <br>
  <b>Pay Rate($/hr.):</b>
  <%=h number_to_currency(@worker.pay_rate, :unit => "$") %>
</p>


<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
