<% form_for(@plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <b>
    Chores for:<br><br>
    <%= f.label :date %>
    </b>
    <%= f.date_select :date %><br>
    <br>
    <b>
    <%= f.label :recorded %>
    </b>
    <%= f.check_box :recorded %>
    <br>
    <br>
    <b><%= f.label :duration %></b>
    <%= f.text_field :duration %><br>
  </p>
  <p>
    <br>
    <b>Include in plan:</b><br>
    <% for worker in Worker.find(:all) %>
    <div> 
       <%= check_box_tag "plan[worker_ids][]", worker.id, @plan.workers.include?(worker) %>
       <%= worker.name %>
    </div>
    <% end %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
